* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7175da;
}
img {
  width: 180px;
}
ul {
  list-style: none;
}
.avatar {
  border-radius: 50%;
  border: 2px solid black;
  margin: 1.5rem 0;
  padding: 0.4em;
}
.card {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1.5rem;
  background-color: aquamarine;
}
.details {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 1.5rem;
  text-align: center;
}

.flexitem {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.socials ul li a {
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  color: white;
  border-radius: 50%;
}
.socials ul li a:hover {
  background-color: darkblue;
  border-radius: 50%;
  color: white;
}

.skill-list {
  border-top: 1px solid lightgray;
}
.skill {
  display: flex;
  align-items: center;
}
/*
.flexitem {
  display: flex;
  align-items: center;
  gap: 1rem;
} */
